@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, menu, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  border-radius: 0;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  color: #000;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0px 10px;
}
@media (max-width: 992.98px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 479.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.slick-slider {
  position: relative;
}
.slick-slider .slick-list {
  overflow: hidden;
}
.slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.slick-slider .slick-arrow {
  position: absolute;
  top: 39%;
  z-index: 5;
  height: 48px;
  width: 29px;
  background: url("../img/icons/arrow.png");
}
.slick-slider .slick-arrow.slick-prev {
  left: -5%;
}
.slick-slider .slick-arrow.slick-next {
  right: -5%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 1300px) {
  .slick-slider .slick-arrow.slick-prev {
    left: 0;
  }
  .slick-slider .slick-arrow.slick-next {
    right: 0;
  }
}
@media (max-width: 660px) {
  .slick-slider .slick-arrow.slick-prev,
.slick-slider .slick-arrow.slick-next {
    opacity: 0;
    visibility: hidden;
  }
}
.slick-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slick-slider .slick-dots li {
  margin: 0px 5px;
  font-size: 0;
}
.slick-slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8c9494;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slick-slider .slick-dots li.slick-active button {
  background-color: #5dca88;
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 21px;
  line-height: 55px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  width: 240px;
  height: 60px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}
@media (min-width: 768px) {
  .btn:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@media (max-width: 580px) {
  .btn {
    font-size: 18px;
    line-height: 45px;
    width: 200px;
    height: 50px;
  }
}
.btn_g {
  color: #636c6c;
  border: 3px solid rgba(99, 108, 108, 0.5);
}
@media (min-width: 768px) {
  .btn_g:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: rgba(99, 108, 108, 0.05);
  }
}

.gray-title {
  text-align: center;
  max-width: 760px;
  margin: 0px auto;
}
.gray-title__title {
  font-size: 36px;
  font-weight: 700;
  color: #636c6c;
  margin: 0px 0px 25px 0px;
}
@media (max-width: 425px) {
  .gray-title__title {
    font-size: 32px;
  }
}
.gray-title__subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #afb8b8;
}

.green-title {
  font-size: 36px;
  line-height: 38px;
}
.green-title__title {
  font-weight: 700;
  color: #5dca88;
  position: relative;
  padding: 0px 0px 25px 0px;
  margin: 0px 0px 40px 0px;
}
.green-title__title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 104px;
  height: 2px;
  background-color: #949c9c;
}
.green-title__subtitle {
  color: #8c9494;
}
@media (max-width: 768px) {
  .green-title {
    font-size: 32px;
    line-height: 34px;
  }
  .green-title__title {
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 30px 0px;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  display: none;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  padding: 40px 0px;
}
.header.active {
  padding: 20px 0px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}
.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 143px;
          flex: 0 0 143px;
}
.header__menu {
  width: 100%;
}

.menu__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li {
  margin: 0px 0px 0px 32px;
}
.menu__link {
  font-size: 14px;
  color: #747a7a;
}
@media (min-width: 768px) {
  .menu__link:hover {
    text-decoration: underline;
  }
}
.menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3c3d42;
  font-size: 18px;
}
.menu__telephone span {
  position: relative;
  padding: 0px 0px 0px 24px;
}
.menu__telephone span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  height: 14px;
  width: 15px;
  background: url("../img/icons/ico_02.png");
}
.menu__email {
  margin: 0px 0px 0px 40px;
}
.menu__email span {
  position: relative;
  padding: 0px 0px 0px 30px;
}
.menu__email span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 13px;
  width: 18px;
  background: url("../img/icons/ico_01.png");
}
.menu__close {
  position: absolute;
}

@media (max-width: 1024px) {
  .menu__body {
    position: fixed;
    z-index: 20;
    height: 100%;
    width: 300px;
    top: 0;
    right: -100%;
    background-color: #f2f9fe;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: auto;
    -webkit-transition: right 0.5s cubic-bezier(0.545, 0, 0.05, 1);
    -o-transition: right 0.5s cubic-bezier(0.545, 0, 0.05, 1);
    transition: right 0.5s cubic-bezier(0.545, 0, 0.05, 1);
  }
  .menu__body.open {
    right: 0;
  }
  .menu__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 30px 0px 0px 0px;
  }
  .menu__list li {
    margin: 0px 0px 15px 0px;
  }
  .menu__link {
    font-size: 20px;
    color: #636c6c;
  }
  .menu__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0px 0px 30px 0px;
  }
  .menu__info li {
    margin: 15px 0px 0px 0px;
  }
  .menu__email {
    margin: 0px 0px 0px 0px;
  }
  .menu__close {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .menu__close:before, .menu__close:after {
    content: "";
    position: absolute;
    background-color: #3c3d42;
    width: 20px;
    height: 3px;
    top: 45%;
  }
  .menu__close:before {
    -webkit-transform: rotate(45deg) translate(0px, 0px);
        -ms-transform: rotate(45deg) translate(0px, 0px);
            transform: rotate(45deg) translate(0px, 0px);
  }
  .menu__close:after {
    -webkit-transform: rotate(-45deg) translate(0px, 0px);
        -ms-transform: rotate(-45deg) translate(0px, 0px);
            transform: rotate(-45deg) translate(0px, 0px);
  }
}

@media (max-width: 1024px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 20px;
    height: 14px;
    cursor: pointer;
    z-index: 5;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }
  .icon-menu span {
    top: 6px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #3c3d42;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 25px 0px;
  }
  .header.active {
    padding: 10px 0px;
  }
}
@media (max-width: 500px) {
  .menu__body {
    height: 100%;
    width: 100%;
    top: 0;
    right: -100%;
  }
  .menu__body.open {
    right: 0;
  }
}
.sub-header {
  margin: 106px 0px 0px 0px;
  position: relative;
}
@media (max-width: 768px) {
  .sub-header {
    margin: 76px 0px 0px 0px;
  }
}
.sub-header__content {
  padding: calc(20px + 160 * ((100vw - 320px) / 850)) 0px 21.9% 0px;
  position: relative;
}
.sub-header__title {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  margin: 0px 0px 10px 0px;
}
.sub-header__subtitle {
  font-size: 36px;
  font-weight: 300;
  color: #fff;
  margin: 0px 0px 40px 0px;
}
@media (max-width: 460px) {
  .sub-header__subtitle {
    margin: 0px 0px 20px 0px;
  }
}
.sub-header__text {
  font-size: 14px;
  line-height: 24px;
  color: #9dc7d1;
  max-width: 430px;
  margin: 0px 0px 50px 0px;
}
@media (max-width: 580px) {
  .sub-header__text {
    max-width: 300px;
  }
}
@media (max-width: 457px) {
  .sub-header__text {
    margin: 0px 0px 20px 0px;
  }
}
.sub-header__bg {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.sub-header__bg-head {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 21%;
  max-height: 610px;
  max-width: 946px;
}
.sub-header__bg-head img {
  width: 100%;
}

.feature {
  padding: calc(30px + 75 * ((100vw - 320px) / 850)) 0px calc(30px + 80 * ((100vw - 320px) / 850)) 0px;
}
.feature__body {
  margin: calc(30px + 35 * ((100vw - 320px) / 850)) 0px 0px 0px;
}

.tab__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tab__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 30px 0px;
}
.tab__items:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #dbe2e2;
}
.tab__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 80px;
  color: #9fa9a9;
  cursor: default;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  padding: 0px calc(14px + 50 * ((100vw - 320px) / 850)) 0px 0px;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 900px) {
  .tab__item {
    height: 70px;
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 500px) {
  .tab__item {
    height: 60px;
    margin: 0px 0px 10px 0px;
  }
}
.tab__item:last-child {
  margin: 0px 0px 0px 0px;
}
.tab__item:after {
  content: "";
  position: absolute;
  z-index: 5;
  right: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background-color: #5dca88;
  -webkit-transform: translate(50%, 0px);
      -ms-transform: translate(50%, 0px);
          transform: translate(50%, 0px);
  opacity: 0;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
@media (max-width: 500px) {
  .tab__item:after {
    width: 6px;
  }
}
.tab__item:hover {
  cursor: pointer;
  color: #636c6c;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, white), to(#d4f2e0));
  background: -o-linear-gradient(left, white 20%, #d4f2e0 100%);
  background: linear-gradient(to right, white 20%, #d4f2e0 100%);
}
.tab__item:hover:after {
  opacity: 1;
}
.tab__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  width: 50px;
  margin: 0px calc(15px + 10 * ((100vw - 320px) / 850)) 0px calc(0px + 42 * ((100vw - 320px) / 850));
}
.tab__ico img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 500px) {
  .tab__ico {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35px;
            flex: 0 0 35px;
    width: 35px;
    height: 31px;
  }
}
.tab__label {
  text-align: right;
  white-space: nowrap;
  font-size: 20px;
}
@media (max-width: 700px) {
  .tab__label {
    white-space: normal;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .tab__label {
    font-size: 16px;
  }
}
.tab__body {
  max-width: 670px;
  margin: 0px 0px 0px calc(14px + 50 * ((100vw - 320px) / 850));
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 0px;
}
.tab__content {
  display: none;
  -webkit-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
.tab__content.active {
  display: block;
  opacity: 1;
}

.content-tab {
  text-align: left;
}
.content-tab__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 300px;
}
.content-tab__image img {
  max-width: 100%;
  padding: 0px 10px;
}
.content-tab__title {
  font-size: 24px;
  font-weight: 700;
  color: #636c6c;
  margin: 80px 0px 30px 0px;
}
@media (max-width: 900px) {
  .content-tab__title {
    margin: 50px 0px 20px 0px;
  }
}
@media (max-width: 600px) {
  .content-tab__title {
    margin: 20px 0px 10px 0px;
  }
}
.content-tab__text {
  font-size: calc(13px + 3 * ((100vw - 320px) / 870));
  line-height: 24px;
  color: #afb8b8;
  max-height: 145px;
  overflow-y: auto;
}

.info-block-1 {
  background-color: #f2f9fe;
  padding: calc(30px + 50 * ((100vw - 320px) / 850)) 0px;
}
.info-block-1__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info-block-1__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}
.info-block-1__column_image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
.info-block-1__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  max-width: 435px;
  margin: 0px auto;
  padding: 0px 10px 0px 0px;
}
.info-block-1__head, .info-block-2__head {
  margin: 0px 0px 40px 0px;
}
@media (max-width: 768px) {
  .info-block-1__head, .info-block-2__head {
    margin: 0px 0px 20px 0px;
  }
}
.info-block-1__text, .info-block-2__text {
  font-size: 16px;
  line-height: 24px;
  color: #8c9494;
  margin: 0px 0px 55px 0px;
}
@media (max-width: 768px) {
  .info-block-1__text, .info-block-2__text {
    margin: 0px 0px 30px 0px;
  }
}
.info-block-1__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: -100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.info-block-1__image img {
  max-width: 100%;
}
.info-block-1__image._visible {
  right: 0;
  opacity: 1;
}
@media (max-width: 630px) {
  .info-block-1__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .info-block-1__column_image {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: none;
  }
  .info-block-1__content {
    max-width: 540px;
  }
}

.gallery {
  padding: calc(30px + 70 * ((100vw - 320px) / 850)) 0px calc(30px + 90 * ((100vw - 320px) / 850)) 0px;
}
.gallery__body {
  margin: calc(30px + 50 * ((100vw - 320px) / 850)) 0px 0px 0px;
}

.slider-gallery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1300px) {
  .slider-gallery__body {
    padding: 0px 40px;
  }
}
@media (max-width: 660px) {
  .slider-gallery__body {
    padding: 0;
  }
}
.slider-gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1300px) {
  .slider-gallery__item {
    padding: 0px 35px;
  }
}
@media (max-width: 900px) {
  .slider-gallery__item {
    padding: 0px 25px;
  }
}
.slider-gallery__image {
  margin: 0px 0px 45px 0px;
}
@media (max-width: 768px) {
  .slider-gallery__image {
    margin: 0px 0px 25px 0px;
  }
}
.slider-gallery__image img {
  max-width: 100%;
}
.slider-gallery__text {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #8c9494;
  max-width: 230px;
}

.info-block-2 {
  background-color: #f2f9fe;
  padding: calc(30px + 50 * ((100vw - 320px) / 850)) 0px;
}
.info-block-2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info-block-2__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66%;
          flex: 0 1 66%;
}
.info-block-2__column_image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 46%;
          flex: 0 0 46%;
}
.info-block-2__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  left: -100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.info-block-2__image img {
  max-width: 100%;
}
.info-block-2__image._visible {
  left: 0;
  opacity: 1;
}
.info-block-2__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  max-width: 475px;
  margin: 0px auto;
  padding: 0px 0px 0px 20px;
}
@media (max-width: 630px) {
  .info-block-2__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .info-block-2__column_image {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: none;
  }
  .info-block-2__content {
    max-width: 540px;
    padding: 0px 0px 0px 0px;
  }
}

.say-about {
  padding: calc(30px + 70 * ((100vw - 320px) / 850)) 0px calc(30px + 85 * ((100vw - 320px) / 850)) 0px;
}
.say-about__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #636c6c;
}
@media (max-width: 425px) {
  .say-about__title {
    font-size: 32px;
  }
}
.slider-say-about__item {
  text-align: center;
  margin: 45px 0px 40px 0px;
}
@media (max-width: 768px) {
  .slider-say-about__item {
    margin: 25px 0px;
  }
}
.slider-say-about__photo {
  display: block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px auto 45px auto;
}
.slider-say-about__photo img {
  width: 100%;
}
@media (max-width: 768px) {
  .slider-say-about__photo {
    margin: 0px auto 30px auto;
  }
}
.slider-say-about__text {
  font-size: 24px;
  line-height: 26px;
  font-style: italic;
  color: #8c9494;
  margin: 0px 0px 20px 0px;
}
.slider-say-about__name {
  font-size: 24px;
  line-height: 24px;
  color: #5dca88;
}
.slider-say-about__name:before {
  content: "-";
  color: #5dca88;
  padding: 0px 5px 0px 0px;
}

.subscribe {
  padding: calc(30px + 60 * ((100vw - 320px) / 850)) 0px calc(30px + 90 * ((100vw - 320px) / 850)) 0px;
  background-color: #f3f5f5;
}
.subscribe__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #8c9494;
  padding: 0px 0px 0px 60px;
}
.subscribe__title span {
  position: relative;
  text-align: center;
}
.subscribe__title span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -60px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  width: 39px;
  height: 33px;
  background: url("../img/icons/ico_03.png") no-repeat;
}
@media (max-width: 425px) {
  .subscribe__title span:before {
    left: -50px;
  }
}
@media (max-width: 425px) {
  .subscribe__title {
    padding: 0px 0px 0px 50px;
    font-size: 32px;
  }
}
.subscribe__form {
  margin: 55px 0px 0px 0px;
}
@media (max-width: 600px) {
  .subscribe__form {
    margin: 35px 0px 0px 0px;
  }
}
@media (max-width: 425px) {
  .subscribe__form {
    margin: 20px 0px 0px 0px;
  }
}

.form-subscribe__body {
  position: relative;
  margin: 0px auto;
  max-width: 770px;
}
.form-subscribe__input {
  height: 60px;
  width: 100%;
  border: 2px solid #bbc3c2;
  border-radius: 30px;
  padding: 0px 0px 0px 33px;
}
@media (max-width: 600px) {
  .form-subscribe__input {
    height: 40px;
    border-radius: 20px;
    padding: 0px 0px 0px 20px;
  }
}
.form-subscribe__button {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  height: 100%;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  border: 2px solid #5dca88;
  background-color: #5dca88;
  border-radius: 30px;
  padding: 0px 47px;
}
@media (min-width: 768px) {
  .form-subscribe__button:hover {
    background-color: #fff;
    color: #5dca88;
    border: 2px solid #bbc3c2;
  }
}
@media (max-width: 600px) {
  .form-subscribe__button {
    font-size: 15px;
    border-radius: 20px;
    padding: 0px 25px;
  }
}